.scroll-ctn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    overflow-x: scroll;
}

header {
    background-color: $beige;
    height: 100%;
    width: 100vw;
    flex-shrink: 0;
    display: grid;
    place-content: center;
    position: relative;

    &::before {
        content: "";
        display: block;
        background-color: $orange;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: width 0.8s;
    }

    &.initial {
        &::before {
            width: 100%;
        }

        h1 {
            color: $beige;
        }
    }
}

.logo {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 45px;
    left: 50px;
}

h1 {
    color: $pink;
    font-size: #{(160/16)}rem;
    margin: 0;
    max-width: 800px;
    line-height: 70%;
    text-align: center;
    position: relative;
    transition: color 0.2s 0.2s;
    z-index: 2;

    .title {
        display: inline-block;
        transform: translateX(calc(var(--scroll-pos) * -0.3));
    }

    .title-bis {
        display: inline-block;
        transform: translateX(calc(var(--scroll-pos) * 0.2));
    }
}

h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%) rotate(-10deg);
    font-family: "League Script", script;
    text-transform: lowercase;
    font-size: #{(55/16)}rem;
    max-width: 550px;
    text-align: center;
    font-weight: 400;
    line-height: 120%;
    z-index: 3;
}

main {
    display: flex;
    align-items: flex-end;
    gap: 150px;
    padding: 0 190px 20vh;
    background-color: $white;
}

.description {
    width: 360px;
    margin-bottom: 80px;
    font-size: #{(20/16)}rem;
    line-height: 125%;
    position: relative;
    z-index: 2;

    :global strong {
        font-size: #{(26/16)}rem;
        line-height: 125%;
    }
}

.year {
    font-size: #{(100/16)}rem;
    color: $white;
    text-shadow: 1px 0 0 $purple, 0 1px 0 $purple, -1px 0 0 $purple,
        0 -1px 0 $purple;
    margin: 0 0 -60px 200px;
    transform: translateX(calc(var(--scroll-pos) * -0.05));
}

.projects {
    display: flex;
    gap: 25px;
}

footer {
    background-color: $purple;
    padding: 50px 40px;
    width: 215px;
    box-sizing: border-box;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    :global p {
        text-align: center;
        font-size: #{(14/16)}rem;
    }

    :global a {
        text-decoration: underline;
    }
}
